<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.byteshaft.doctor">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".utils.AppGlobals"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".introscreen.IntroScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:windowSoftInputMode="adjustResize" android:name=".doctors.Dashboard" />
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:windowSoftInputMode="adjustResize" android:name=".accountfragments.AccountManagerActivity"/>
        <activity android:windowSoftInputMode="adjustResize" android:name=".doctors.DoctorDetailsActivity" />
        <activity android:windowSoftInputMode="adjustResize" android:name=".patients.DoctorsAppointment" />


        <activity android:windowSoftInputMode="adjustResize" android:name=".patients.DoctorsLocator" />
        <activity android:windowSoftInputMode="adjustResize" android:name=".patients.DoctorsRoute" />

        <activity android:windowSoftInputMode="adjustResize" android:name=".patients.PatientsRecentHistory" />
        <activity android:windowSoftInputMode="adjustResize" android:name=".patients.PatientDetails" />
        <activity android:windowSoftInputMode="adjustResize" android:name=".patients.DoctorBookingActivity"/>
        <activity android:windowSoftInputMode="adjustResize" android:name=".doctors.Services" android:theme="@style/AppTheme.ServiceActionBar"/>

        <service
            android:name=".fcm.FireBaseService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".fcm.Service">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>